* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
  background: #f5f6f8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans', sans-serif;
}
